body {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    
}

h1,h2,h3,h4 {
    margin: 0px;
    font-weight: 400;
}

.container {
    width: 440px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 440px;
    }
    
    @media screen and (min-width: 768px) {
        width: 650px;
    }
    
    @media screen and (min-width: 1360px) {
        width: 1030px;
    }
}

button {
    cursor: pointer;
}

.section-container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1360px) {
        width: 1360px;
    }
}

ul {
    padding: 0px;
}