.description-section {
    padding-top: 50px;
    padding-bottom: 20px;

    @media screen and (min-width: 480px) {
            
    }
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 25px;
    }
    
    @media screen and (min-width: 1360px) {
        padding-top: 78px;
        padding-bottom: 30px;
    }

    &__title {
        text-align: center;
        margin-bottom: 4px;
        color: #0A3853;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            font-size: 23px;
        }
        
        @media screen and (min-width: 1360px) {
            font-size: 36px;
        }
    }

    &__author {
        font-size: 16px;
        line-height: 1.21;
        color: black;
        margin: 16px 0px 8px 0px;
        text-align: center;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
        
        @media screen and (min-width: 1360px) {
            font-size: 24px;
            margin: 16px 0px 8px 0px;
        }
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        height: 70px;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            width: 250px;
            height: 80px;
        }
        
        @media screen and (min-width: 1360px) {
            width: 400px;
            height: 120px;
        }
    }
}