.img-section {
    height: 95px;
    background-image: url(../../images/img-section.png);
    background-size: cover;

    @media screen and (min-width: 768px) {
            height: 180px;
    }
    
    @media screen and (min-width: 1360px) {
        height: 268px;
    }
}