.img-section {
    // width: 480px;
    height: 95px;
    background-image: url(../../images/img-section.png);
    background-size: cover;

    @media screen and (min-width: 480px) {
        
    }

    @media screen and (min-width: 768px) {
            
    }
    
    @media screen and (min-width: 1360px) {
        // width: 1360px;
        height: 268px;
    }
}