.join-modal {
    text-align: center;
    background-image: url(../../images/join-modal.png);
    z-index: 45;
    position: fixed;
    transition-duration: 800ms;
    transition-delay: 250ms;
    padding-top: 40px;
    width: 480px;
    height: 350px;
    top: 0;
    left: 0;

    @media screen and (min-width: 480px) {
            
    }
    
    @media screen and (min-width: 768px) {
        width: 500px;
        height: 380px;
        top: 13%;
        left: 17%;
    }
    
    @media screen and (min-width: 1360px) {
        width: 600px;
        height: 400px;
        top: 20%;
        left: 28%;
        padding-top: 50px;
    }
    

    &__btn {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: none;
        border: 0px;
        padding: 0px;
        background-color: transparent;
    }

    &__title {
        font-family: $second-font;
        font-size: 22px;
        line-height: 1.25;
        color: #ffff;
        margin-bottom: 80px;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            font-size: 23px;
        }
        
        @media screen and (min-width: 1360px) {
            font-size: 24px;
        }
    }

    &__text {
        font-family: $second-font;
        font-size: 22px;
        line-height: 1.25;
        color: #ffff;
        text-align: center;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            font-size: 23px;
        }
        
        @media screen and (min-width: 1360px) {
            font-size: 24px;
        }
    }
}