.language-section {
    width: 1360px;
    height: 664px;
    background-image: url(../../images/language-section.png);
    padding: 33px 162px 40px 166px;
     

    &__title {
        font-size: 32px;
        line-height: 1.25;
        color: #1F2426;
        text-align: center;
        margin-bottom: 47px;
        font-family: $second-fond;
    }

    &__list {
        width: 1030px;
        height: 504px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0px;
    }

    &__item {
        width: 320px;
        height: 240px;
        background: rgba(255, 255, 255, 0.7);
        text-align: center;
        padding: 36px 30px;

        &:nth-child(3n+1) {
            margin-right: 35px;
        }

        &:nth-child(3n+2) {
            margin-right: 35px;
        }

        &:nth-child(1) {
            margin-bottom: 24px;
        }

        &:nth-child(2) {
            margin-bottom: 24px;
        }

        &:nth-child(3) {
            margin-bottom: 24px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 1;
        color: #0000;
        font-family: $second-fond;
        margin-bottom:  40px;
    }

    &__img {
        width: 152px;
        height: 40px;
    }
}