.main-section {

    &__wrap {
        background-image: url("../../images/main.png");
        background-size: cover;
        background-image:  linear-gradient(90.15deg,
        rgba(54, 82, 106, 0.89) 3%,
        rgba(55, 107, 151, 0.0712) 86.75%),
        url("../../images/main.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 480px) {
           
        }
        
        @media screen and (min-width: 768px) {
            
        }

        @media screen and (min-width: 1360px) {
            // width: 1360px;
            // height: 700px;
            padding: 24px 0px 19px 0px;
        }
        
    }

    &__logo {
        width: 244px;
        height: 96px;
        margin-bottom: 171px;

        @media screen and (min-width: 480px) {
            margin-bottom: 100px;
        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1360px) {
            
        }
    }

    &__description { 
        width: 240px;
        height: 350px;
        color: #ffff;
        font-size: 20px;
        line-height: 1.2;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1360px) {
            width: 376px;
            height: 263px;
        }

        & p{
            margin: 0px;
        }
    }

    &__avatar {
            width: 450px;
            right: 0px;
            bottom: 0px;

        @media screen and (min-width: 480px) {

        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1360px) {
            width: 620px;
            height: 520px;
            position: absolute;
            right: 110px;
        }
    }

    &__button {
        font-family: $second-font;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        color: #26C7EA;   
        padding: 10px 30px;
        width: 260px;
        height: 80px;
        background-color: #0B0E66;
        border: 3px solid #26C7EA;
        border-radius: 45px 0px 45px 0px;
        margin-top: 47px;

        @media screen and (min-width: 480px) {
            margin-top: 30px;
        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1360px) {
            
        }
    }

    &__arrov {
        display: block;
        margin-left: 70px;
    }

    &__social {
        list-style: none;
        margin: 0px;
        position: absolute;

        @media screen and (min-width: 480px) {
            display: flex; 
            right: 80px;
            top: 40px; 
        }
        
        @media screen and (min-width: 768px) {
            
        }

        @media screen and (min-width: 1360px) {
            top: 220px;
            right: 164px;
            display: block;
        }

        &-item {
            margin-right: 15px;

            @media screen and (min-width: 480px) {
                 
            }
            
            @media screen and (min-width: 768px) {
                margin-right: 0px;
            }
    
            @media screen and (min-width: 1360px) {
                
            }

            &:not(:last-child) {
                @media screen and (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
        }

        &-icon {
            width: 32px;
            height: 30px;    
            fill: #ffff;
        }
    }
}