.watch-section {
    // width: 480px;
    height: 240px;
    background-image: url(../../images/watch-section.png);
    position: relative;

    @media screen and (min-width: 480px) {
        
    }
    
    @media screen and (min-width: 768px) {
        
    }
    
    @media screen and (min-width: 1360px) {
        // width: 1360px;
        height: 700px;
    }

    &__button {
        font-family: $second-font;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        color: #26C7EA;   
        padding: 10px 30px;
        width: 260px;
        height: 80px;
        background-color: #0B0E66;
        border: 3px solid #26C7EA;
        border-radius: 45px 0px 45px 0px;
        position: absolute;
        top: 44%;
        left: 44%;

        @media screen and (min-width: 480px) {
            
        }
        
        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 1360px) {
            
        }
    }
}